version: '3.8'

services:
  postgres:
    image: postgres:13
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - static:/app/static
      - media:/app/media
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    volumes:
      - static:/usr/share/nginx/html/static
    ports:
      - "3000:3000"

  gateway:
    build: ./nginx
    volumes:
      - static:/usr/share/nginx/html/static
      - media:/usr/share/nginx/html/media
    ports:
      - "9000:80"
    depends_on:
      - backend
      - frontend

volumes:
  static:
  media:
  pg_data:
