version: '3.9'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: izmodizm/kittygram_backend
    env_file: .env
    volumes:
      - static:/static
      - media:/app/media
    depends_on:
      - db
    ports:
      - 8000:8000

  frontend_build:
    image: izmodizm/kittygram_frontend
    env_file: .env
    command: >
      sh -c "npm run build &&
             cp -r /app/build/. /static/"
    volumes:
      - static:/static
    depends_on:
      - backend

  gateway:
    image: izmodizm/kittygram_gateway
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/app/media
    depends_on:
      - backend
